# dependency management
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/sdks
.pnp.*

# transient files
*.log
temp

# build artifacts
coverage
lib
artifacts
*.junit.xml
website/build
docs

# this is configured via bootstrap script
.vscode
