# dependency management
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/sdks
.pnp.*

# transient files
*.log

# build artifacts
coverage
lib
artifacts
*.junit.xml
website/build

# this is configured via bootstrap script
.vscode
